name: CI

on:
  push:
    branches: 
  pull_request:
    branches:
    - main
    - 'develop'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.12.2]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: "Setup"
        run: npm run configure && npm run build --if-present && rm hardhat.config.ts && mv hardhat.configCI.ts hardhat.config.ts  
      - name: "Prettier sol check"
        run: npm run prettier-check-sol
      - name: "Prettier ts check"
        run: npm run prettier-check-ts
      - name: Unit test
        env:
          ALCHEMY_KEY: ${{ secrets.ALCHEMY_DEV_KEY }}
          ADMIN_WALLET_KEY: ${{ secrets.ADMIN_WALLET_KEY }}
          TEAM_WALLET_KEY: ${{ secrets.TEAM_WALLET_KEY }}
          USER_A_WALLET_KEY: ${{ secrets.USER_A_WALLET_KEY }}
          USER_B_WALLET_KEY: ${{ secrets.USER_B_WALLET_KEY }}
          USER_C_WALLET_KEY: ${{ secrets.USER_C_WALLET_KEY }}
          USER_D_WALLET_KEY: ${{ secrets.USER_D_WALLET_KEY }}
          USER_E_WALLET_KEY: ${{ secrets.USER_E_WALLET_KEY }}
        run: |
          npx hardhat node & npm run unit